div.a {
    background-color: #57f5fa;
}

div.b {
    background-color: #faf757;
}

div.videou {
    display: inline-block;
    width: 300px;
    height: 200px;
}
div.videod {
    display: inline-block;
    width: 300px;
    height: 200px;
}
div.videot {
    display: inline-block;
    width: 300px;
    height: 200px;
}

div.mapu {
    display: inline-block;
    width: 600px;
    height: 400px;
}

div.mapd {
    display: inline-block;
    width: 600px;
    height: 400px;
}

div.footer {
    background-color: #57f5fa;
}