div.a {
    background-color: #57f5fa;
}

div.b {
    width: 400px;
    height: 400px;
    display: inline-block;
    border: 1px solid black;
}

div.c {
    width: 400px;
    height: 400px;
    display: inline-block;
    border: 1px solid black;
}